/*
 *******************
 * PAGE MAIN STYLE *
 *******************
*/

body {
    overflow-x: hidden;
    color: #2E4355;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100%;
}

header {
  nav {
    min-height: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    .top-nav__logo {
          display: block;
      width: 75px;
      height: 75px;
    }
    .button__schedule {
      display: none;
      font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
    height: 36px;
    color: #fff;
    background-color: #2B80C3;
    border: 1px solid #2B80C3;
    font-size: 14px;
    line-height: 36px;
    -webkit-font-smoothing: auto;
    text-decoration: none !important;
    transition: all 0.15s ease-in-out;
     border-radius: 2px;
    &:hover {
      color: #2B80C3;
      background-color: #fff;
    }
}
  }
}

main {
  overflow: hidden;
  .main-banner {
    background: #EDEDED;
    &.results {
      background: $navy;
      color: #fff;
      a {
        color: #fff;
      }
    }
    a {
      color: $navy;
      text-decoration: underline;
    }
    span {
      font-weight: bold;
    }
  }
  // .col-options {

  // }
  // .col-values {

  // }
}

footer {
  min-height: 100px;
  background: $navy;
  position: sticky;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .footer__logo {
    height: 58px;
    width: 58px;
    margin-right: 24px;
    overflow: hidden;
    display: inline-block;
  }
}

.disclaimer {
  font-style: italic;
  font-size: 12px;
}

// Range Slider
$range-width: 100% !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $slate !default;
$range-handle-size: 16px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 4px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;

.range-slider {
  width: $range-width;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (#{$range-label-width + 13px}));
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  outline: none;
  padding: 0;
  margin: 5px 0px 5px 0px;

  // Range Handle
  &::-webkit-slider-thumb {
    appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $range-handle-color-hover;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
  }
  
  // Focus state
  &:focus {
    
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px $shade-0,
                  0 0 0 6px $slate;
    }
  }
}


.range-slider__value {
  padding-top: 5px;
  font-weight: 400;
}


// Firefox Overrides
::-moz-range-track {
    background: $range-track-color;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer { 
  border: 0; 
}

.form-control {
  // width: calc(100% - 73px);
  border-radius: 2px !important;
  // -webkit-appearance: none;
  -webkit-border-radius: 0px;
  position: relative;
}
.region-wrap {
  position: relative !important;
  width: calc(100% - 73px);
  .test {
    position: absolute;
    right: 8px;
    top: 46px;
    display: none;
  }
}

#value-bar {
  width: 100%;
  height: 30px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  .fill {
    height: 100%;
    display: flex;
    // flex: 0.01;
  }
  #fill-productivity {
    background-color: $navy;
    // flex: 0.25;
    width: 33.3333333%;
    transition: all 0.75s ease-in-out;
    border-right: 1px solid #fff;
    // transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  }
  #fill-security {
    background-color: $red;
    // flex: 0.25;
    width: 33.3333333%;
    transition: all 0.75s ease-in-out;
    border-right: 1px solid #fff;
    // transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  }
  #fill-agility {
    background-color: $slate;
    // flex: 0.5;
    width: 33.3333333%;
    transition: all 0.75s ease-in-out;
    // transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  }
}

#toggle-advanced {
  color: $blue;
  font-weight: 500;
  text-decoration: none;
  height: 16px;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  position: relative;
  // width: calc(100% - 73px);


  span {
    // margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

}

#results-wrap {
  // when testing resultss comment out display
  display: none;
  background: #F5F6F9;
  .nav-tabs {
    border-bottom: none;
  }
  .nav-item {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfe3eb;
    // border-bottom: 4px solid #F5F6F9;
    height: 100px;

    p, h3 {
      padding: 0px;
      margin: 0px;
    }
    &.nav-item-mid {
      margin: 0px 6px 0px 6px;
    }
    .nav-link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 0px !important;
      // border-bottom: 4px solid red;
      height: 100%;
      background-color: #dfe3eb;
      width: 100%;
      transition: all 0.15s ease-in-out;
      &.active {
        border-color: #fff;
        background-color: #fff;
        margin: 0px 0px 0px 0px;
        // border-top: 4px solid red;
        // padding: 4px 4px 4px;
        .active-tab-bar-bottom {
          background-color: #fff;
        }
        &#productivity-tab {
          .active-tab-bar {
            background-color: $navy;
            &.bottom {
              background-color: #fff;
            }
          }
          svg {
            fill: $navy !important;
          }
        }
        &#security-tab {
          .active-tab-bar {
            background-color: $red;
            &.bottom {
              background-color: #fff;
            }
          }
          svg {
          fill: $red !important;
        }
        }
        &#agility-tab {
          .active-tab-bar {
            background-color: $slate;
            &.bottom {
              background-color: #fff;
            }
          }
          svg {
          fill: $slate !important;
        }
        }
        .tab-label {
          color: $navy;
        }
        
      }
    }
    .active-tab-bar {
      display: flex;
      height: 4px;
      width: 100%;
      background-color: #dfe3eb;
      position: absolute;
      top: 0;
      left: 0;
    }
    .active-tab-bar-bottom {
      display: flex;
      height: 6px;
      width: 100%;
      background-color: #f5f6f9;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .tab-pane {
    background: #fff;
    // p {
    //   padding-top: 30px;
    // }
  }
}

.tab-label {
  padding-left: 20px;
  color: #909EA4;
}
.tab-icon {
  svg {
    fill: #909EA4;
  }
}


footer {
  color: #fff;
  display: flex;
  .footer-inner {
    display: flex;

  .footer-bottom__left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .footer-copyright {
      max-width: 550px;
      font-size: 12px;
      line-height: 12px;
    }
  }
  .footer-bottom__right {
    min-width: 50%;
    min-height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer__bottom-links {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 16px 0px 0px;
      padding-left: 0px;
      li {
        margin-right: 16px;
        font-size: 12px;
        text-transform: uppercase;
      }
      a {
        color: white;
        text-decoration: none;
        -webkit-font-smoothing: auto;
        min-height: 54px;
        opacity: 1;
        transition: all 0.25s ease-in-out;
        &:hover {
          opacity: 0.75;
        }
      }
    }
    .footer__social {
      display: flex;
      text-align: right;
      font-size: 12px;
      text-transform: uppercase;
      font-family: "proxima-nova", helvetica, arial, sans-serif;
      font-weight: 400;
      .footer__tagline {
        -webkit-font-smoothing: auto;
        display: flex;
        align-items: center;
        font-weight: 500;
      }
      ul {
        list-style: none;
        display: flex;
        margin: 0px 0px 0px 16px;
        padding-left: 0px;
        li {
          min-width: 18px;
          margin: 0px 0px 0px 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            line-height: 1em;
            opacity: 1;
            transition: all .25s ease-in-out;
            min-height: 54px;
            display: flex;
          justify-content: center;
          align-items: center;
            &:hover {
              opacity: 0.75;
            }
          }
        }
      }
    }
  }
}
}

.value-categories {
  display: flex;
  margin: 16px 0px 0px 2px;
  .category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 8px;
    min-width: 80px;
    cursor: pointer;
    p {
      margin-bottom: 0px;
      position: relative;
        i {
          font-size: 10px;
          border-radius: 100%;
          width: 14px;
          height: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0px;
          right: -18px;
        }
    }
    &.productivity {
      color: $navy;
      border-left: 2px solid $navy;
      padding-right: 16px;
      i {
          color: $navy;
          font-size: 10px;
          border-radius: 100%;
          border: 1px solid $navy;
      }
    }
    &.security {
      color: $red;
      margin-left: 16px;
      border-left: 2px solid $red;
      padding-right: 16px;
      i {
          color: $red;
          font-size: 10px;
          border-radius: 100%;
          border: 1px solid $red;
      }
    }
    &.agility {
      color: $slate;
      margin-left: 16px;
      border-left: 2px solid $slate;
      padding-right: 16px;
      i {
          color: $slate;
          font-size: 10px;
          border-radius: 100%;
          border: 1px solid $slate;
      }
    }
    span {
      font-weight: 600;
      margin-bottom: -5px;
    }
  }
}

.tooltip .tooltip-inner {
  background-color: $gray;
  color: $navy;
  border-radius: 2px !important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 20px;
  text-align: left;
  min-width: 250px;
}

.tooltip.show {
    opacity: 1;
    color: $navy;
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.bs-tooltip-auto[x-placement^=top] .arrow:before, .bs-tooltip-top .arrow:before {
    top: 0;
    border-width: .4rem .4rem 0;
    border-top-color: $gray;
    color: $navy;
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.bs-tooltip-auto[x-placement^=bottom] .arrow:before, .bs-tooltip-top .arrow:before {
  top: 0;
  border-width: .4rem .4rem 0;
  border-bottom-color: $gray;
  color: $navy;
  // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


#toggle-advanced {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  #tog-d {
    width: 28px; 
    height: 28px;
    transform: rotate(0deg);
    transition: all 0.25s ease-in-out;
  }
}
.toggle-advanced-assessment {
  width: calc(100% - 73px);
}
#toggle-advanced[aria-expanded='true'] > #tog-d {
    transform: scale(1) rotate(180deg);
}


#productivity {
  #tog-d {
      fill: $navy;
      stroke: $navy;
    }
  .results-toggle-top {
    #toggle-advanced {
      color: $navy !important;
    }
  }
}
#security {
  #tog-d {
      fill: $navy;
      stroke: $navy;
    }
  .results-toggle-top {
    #toggle-advanced {
      color: $red !important;
    }
  }
}
#agility {
  #tog-d {
      fill: $navy;
      stroke: $navy;
    }
  .results-toggle-top {
    #toggle-advanced {
      color: $slate !important;
    }
  }
}
.results-toggle-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin: 0px 30px 0px 30px;
  padding-top: 30px;
    #tog-d {
    margin-right: 15px;
  }
}
.results-tab-content {
  border-bottom: 1px solid $gray;
  p {
    margin-left: 45px;
    max-width: 800px;
  }
}

#results-wrap {
  .tab-pane {
    // display: none;
    // margin-left: 30px;
    // margin-right: 30px;
    padding: 0px 40px 0px 40px;
  }
}

.total-value-per-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-bottom: 30px;
}
.last-tab {
  border-top: 1px solid $navy;
  margin-top: 24px;
}
.total-tab-content {
  border-bottom: 1px solid transparent;
}

.border-none {
  border-bottom: none !important;
}

.results-banner {
  background-color: $navy !important;
  color: #fff;
  display: none;
  a {
    color: #fff !important;
  }
}

.collapse-toggle {
  cursor: pointer;
  color: #2b80c3;
  font-weight: 400;
}

.bold {
  font-weight: bold;
}

#total-annual-value {
  font-size: 3rem;
  min-height: 3rem;
}

.citation-sm {
  font-size: 11px;
  margin-left: 24px;
  padding-bottom: 30px;
}
