#mktoForm_3445 {
  display: flex;
  flex-wrap: wrap;
  width: auto !important;
  min-width: auto !important;
  position: relative;
  input:focus, textarea:focus, select:focus{
        outline: none !important;
    }
}

.mktoLabel {
  width: auto !important;
}

.mktoFormCol {
  width: 100%;
  min-width: 100%;
}

#Country {
    border: 1px solid #dfe3eb;
    border-radius: 3px;
    width: 200% !important;
    background: #fff 0% 0% no-repeat padding-box;
    padding: 8px 16px 8px 4px !important;
    height: 32px;
  
}

.mktoFieldDescriptor {
  display: flex;
  flex-direction: column !important;
}

.mktoButtonRow {
  position: absolute !important;
  left: 0px !important;
  bottom: -50px !important;
}


.mktoButton {
  background-image: none !important;
  color: #fff;
    border: 1px solid #2b80c3 !important;
    padding: 0.75em 1em !important;
    font-size: 1em;
    background-color: #2b80c3 !important;
  border-radius: 3px !important;
  // &:hover {
  //   opacity: 0.75;
  // }
}
.mktoButtonWrap {
  margin-left: 0px !important;
}

.mktoFieldWrap {
  display: flex;
  flex-direction: column;
}

.mktoFormRow {
  display: flex;
  width: calc(100% / 2 - 4px);
  margin: 0px 4px 0px 0px !important;
  input {
    border: 1px solid #dfe3eb;
    border-radius: 3px;
    width: 100% !important;
    // background: #fff 0% 0% no-repeat padding-box;
    padding: 8px 16px 8px 4px !important;
  }
}

.mktoAsterix {
  display: none !important;
}

.mktoForm .mktoError .mktoErrorMsg {
    display: block;
    margin-top: 7px;
    background-color: #bc1d26 !important;
    background-image: none !important;
    border: 1px solid #9f1300;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(0,0,0,0.65) 0 2px 7px, inset #ff3c3c 0 1px 0px;
    box-shadow: rgba(0,0,0,0.65) 0 2px 7px, inset #ff3c3c 0 1px 0px;
    color: #f3f3f3;
    font-size: 1em;
    line-height: 1.2em;
    max-width: 16em;
    padding: 0.4em 0.6em;
    text-shadow: #901100 0 -1px 0;
}


