.suspense {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #fff;
    z-index: 1030;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: suspense;
    animation-duration: 0.15s;
    animation-delay: 1.5s;
    animation-timing-function: cubic-bezier(.17,.67,.83,.67);
    animation-fill-mode: forwards;
    opacity: 1;
    .suspense-message {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        animation-name: message;
        animation-duration: .45s;
        animation-delay: .15;
        animation-timing-function: cubic-bezier(.17,.67,.83,.67);
        animation-fill-mode: forwards;
        transform: scale(1.5);
        transform-origin: center;
    }
    
}

@keyframes suspense {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

@keyframes message {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1.5);
    }
}



#suspense-bar {
    width: 74px;
    height: 2.5px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    
    #s-productivity {
        height: 100%;
      display: flex;
      background-color: $navy;
      animation-name: loadbar;
      animation-duration: .45s;
      animation-fill-mode: forwards;
      transform-origin: center;
      width: 0%;
      animation-delay: 0.25s;
    }
    
}
    


  @keyframes loadbar {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
  }
  