
$text-dark: #263746;
$text-white: #fff;
$red: #bc1d26;
$blue: #2b80c3;
$navy: #2e4355;
$slate: #7094aa;
$gray: #dfe3eb;
$gray-dark: #707070;


// $theme-font:    verdana, sans-serif;

$shade-10: #2B80C3 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
